#about-window {
  height: 500px;
}
.about-header {
  font-size: 3em;
}
.about-header, .banner {
  position: absolute;
  top: 2px;
}
/* .about {
  position:absolute;
  top: 18%;
  right: 12%;
} */

.border01 {
  border: 2px solid gray;
  border-radius: 8px;
  font-family: sans-serif;
  margin: auto;
  padding: 10px;
  width: 70%;
}
.container {
  margin-top: 57px;
  width: 90%;
}
.container h3 {
  margin: 0;
  padding: 0;
}
.banner {
  align-items: center;
  /* align-content: flex-start; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 10px 0 10px;
  margin-bottom: 5px;
}

.show{

  visibility: visible;
}
.hide{
  display: none;
  visibility: hidden;
}