.child{
  align-items: center;
  background-color: gray;
  border: 1px solid gray;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 10px;
  padding: 10px;
  width: 320px;
}
p{
  border: 1px solid black;
  border-radius: 90%;
  padding: 10px;

}
body div{
  align-items: center;
  background-color: rgb(215, 207, 207);
  display: flex;
  flex-direction: row;
  margin: 10px;
  width: 450px;
  justify-content: space-between;
}
div span {
  font-size: 20px;
  padding: 5px;
  width: 170px;
}
.first-child :first-child {
  background-color:aquamarine;
}
.last-child :last-child {
  background-color:aquamarine;
}
.nth-child-2 :nth-child(2) {
  background-color:aquamarine;
}
.nth-child-3 :nth-child(3) {
  background-color:aquamarine;
}
.nth-child-odd :nth-child(odd) {
  background-color:aquamarine;
}
.nth-child-even :nth-child(even) {
  background-color:aquamarine;
}
.nth-child-n4 :nth-child(n+4) {
  background-color:aquamarine;
}
.nth-child3n-1 :nth-child(3n-1) {
  background-color:aquamarine;
}
.nth-child-n3 :nth-child(n+3) {
  background-color:aquamarine;
}
.nth-child-4n-1 :nth-child(4n-1) {
  background-color:aquamarine;
}