article h3 {
  font-size: 1.2em;
}
article h3:hover {
  cursor: pointer;
  background-color: orange;
  border: 2px gray solid;
  color:antiquewhite;
  font-size: 1.3em;
  padding-left: 3px;
}
article ol, article ul {
  font-size: 1.15em;
}
#carousel {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
}
ul {
  list-style: none;
  padding: 0;
}
.carousel-item {
  border: grey 1px solid;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 0 5px 0 5px;
  padding: 15px 0 15px 0;
  text-align: center;
  width: 15%;
}
.carousel-container {
  align-items: center;
  border: 2px gray solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-y: visible;
  overflow-x: hidden;
  width: 90%;
}

.carousel-item img {
  color: black;
  text-decoration: none;
  height: 100px;
}
.left-arrow, .right-arrow {
  text-align: center;
  color: rgb(217, 217, 200);
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  opacity: 0.4;
  padding: 20px 0 20px 0;
  transition: opacity 3s;
  width: 25px;
}

.carousel-item:hover {
  /* background-color: rgb(220, 212, 212); */
  border: rgb(3, 0, 0) 1px solid;
  /* color: black; */
  cursor: pointer;
  font-weight: 600;
  background-color: rgb(204, 172, 111);
  border: 2px gray solid;
  color:antiquewhite;
}
.left-arrow:hover, 
.right-arrow:hover {
  /* background-color: rgb(220, 212, 212); */
  /* border: rgb(3, 0, 0) 1px solid; */
  color:rgb(234, 232, 228);
  cursor: pointer;
  font-size: 2.2em;
  font-weight: 600;
  /* width: 15px; */
  /* background-color: orange; */
  opacity: 0.65;
  /* border: 2px gray solid; */
}
.left-arrow-zero:hover, 
.right-arrow-end:hover {
  background-color: rgb(198, 182, 182);
  /* border: rgb(3, 0, 0) 1px solid; */
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  /* width: 15px; */
  /* background-color: orange; */
  opacity: 0.65;
  /* border: 2px gray solid; */
}
.hide {
  display: none;
  visibility: hidden;
}