
body {
  font-family: sans-serif;
  background-color: rgb(124, 149, 149);
}
.header {
  padding-left: 10px;
}
.arrow-group {
  align-items: flex-end;
  display: flex;
  flex-direction:column;
  font-size: 20px;
  justify-content: flex-end;
  /* margin: 50px 0 25px 0; */
  width: 80%;
}
.down-arrow {
  color: gray;
  visibility: hidden;
}
.down-arrow:hover {
  color: white;
  cursor: pointer;
  font-size: 1.2em;
  visibility:visible;
}
h3 {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

.header {
  align-items: center;
  background-color: black;
  border: 1px black solid;
  color:aliceblue;
  display: flex;
  flex-direction: row;
  height: 70px;
  justify-content: left;
  margin: 10px 0 40% 0;
}
.header, .notes-container {
  width: 80%;
  margin: auto;
}
.header {
  font-size: 3em;
  margin-bottom: 20px;
}
article h3 {
  font-size: 1.2em;
}
article h3:hover {
  cursor: pointer;
  background-color: orange;
  border: 2px gray solid;
  color:antiquewhite;
  font-size: 1.3em;
  padding-left: 3px;
}
article ol, article ul {
  font-size: 1.15em;
}
.bold {
  font-weight: 600;
}
.ital {
  font-style: italic;
}
.und {
  text-decoration: underline;
}
.show{
  background-color: rgb(161, 176, 176);
  border: 2px gray solid;
  border-radius: 5px;
  box-shadow: rgba(136, 174, 180, 0.7) 12px 12px, rgba(4, 34, 39, 0.7) 10px 22px 22px;
  margin-bottom: 22px;
  padding-left: 4px;
  visibility: visible;
}
.hide{
  display: none;
  visibility: hidden;
}
.red {
  color: orangered;
}
.blue {
  color:rgb(39, 16, 215);
}
img {
  width: 70%;
}
#code-script-01 {
  width: 95%;
}

@media (min-width: 950px){
  img {
    width: 70%;
  }
  #code-script-01 {
    width: 90%;
  }
}
@media (min-width: 1450px){
  img {
    width: 60%;
  }
  #code-script-01 {
    width: 70%;
  }
}